@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

html{
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(0, 162, 255)) no-repeat center center fixed;
    font-family: "Sofia Sans", sans-serif;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    height: calc(var(--vh, 1vh) * 100);
    background-repeat: no-repeat;
    font-family: "Sofia Sans", sans-serif;
    color: white;
    margin: 0;
    text-align: center;
    animation: fadeIn 3.5s;
  animation-fill-mode: forwards;
}

.content{
    background-color: rgb(65, 64, 64);
    border-radius: 35px;
    color:rgb(255, 255, 255);
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.content_text {
    font-size: 15px;
}

.title {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/*
.content_discordBtn{
    background-color: rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
    color:white;
    border-width: 0px;
    width: 200px;
    height: 50px;
    border-radius: 45px;
    font-family: "Sofia Sans", sans-serif;
    animation-name: color-change-end;
    animation-duration: 0.75s;
}
*/

.content_discordBtn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #0004ff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-out;
  }
  
  .content_discordBtn:hover {
    animation: hover-in 0.5s ease-in-out;
    animation-fill-mode:both;
  }

  .content_discordBtn:not(:hover) {
    animation: hover-out 0.5s ease-in-out;
    animation-fill-mode:both;
  }
  
  @keyframes hover-in {
    from {
      background-color: #5865F2;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    to {
      background-color: #0264cc;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-3px);
    }
  }

  @keyframes hover-out {
    from {
        background-color: #0264cc;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-3px);
    }
    to {
        background-color: #5865F2;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  }

.creator{
    margin-top: 1px;
}

.tworca {
    color: rgb(31, 123, 228);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*.content_discordBtn:hover {
    animation-name: color-change-start;
    animation-duration: 0.75s;
}

@keyframes color-change-start {
    from {background-color: white;}
    to {background-color: rgb(0, 157, 255);}
  }

  @keyframes color-change-end {
    from {background-color: rgb(0, 157, 255);}
    to {background-color: white;}
  }
  */
  .bottom {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    text-align: left;
  }

 